.signin_card{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.img_corousal{
     height: 500px;
}
.share_photo, .join_group{
    margin-left:10px;
}

.profile_section{
    margin-left:125px;
}